body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    overflow-y: scroll;
}

h1 {
    text-align: center;
}

.controls-container {
    display: flex;
    justify-content: space-between;
    border: solid 2px black;
    padding: 20px 15vw;
}

.form {
    display: flex;
    column-gap: 30px;
}

.form label {
    text-align: right;
    display: inline-block;
    font-weight: 600;
}

input,
button {
    font-size: 1.3rem;
    padding: 6px 10px;
    border-radius: 4px;
}

input {
    background-color: white;
    border: solid 1px #999;
}

input:hover {
    outline: none;
}

main {
    padding: 20px 15vw;
}

main>div {
    padding: 10px;
}

img {
    width: 100%;
}

#results {
    border: solid 2px black;
    min-height: 300px;
}

nav {
    display: flex;
    align-items: center;
    column-gap: 15px;
    justify-content: space-between;
}