body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;


}

section {
    border: solid 4px orangered;
    width: 200px;
    height: 75px;
}